.ca_banner{
	overflow:hidden;
}
.ca_slide{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.ca_zone{
	position:absolute;
	width:100%;
}
.ca_wrap{
	position:relative;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.ca_wrap img.ca_shown{
	display:inline !important;
}
/* Custom styles of banner1 */
.ca_banner1{
	width:960px;
	height:355px;
}
.ca_bg1{
	background:url(../images//banners/bg.jpg) no-repeat top left;
}
.ca_banner1 .ca_zone1{
	top:10px;
	left:745px;
}
.ca_banner1 .ca_wrap1{/*product*/
	width:120px;
	height:335px;
}
.ca_banner1 .ca_zone2{
	top:155px;
	left:0px;
}
.ca_banner1 .ca_wrap2{/*line*/
	width:395px;
	height:99px;
}
.ca_banner1 .ca_zone3{
	top:260px;
	left:0px;
}
.ca_banner1 .ca_wrap3{/*tittle*/
	width:505px;
	height:36px;
}