@charset "utf-8";
/* CSS Document */
#contenido_central ul.institucional{margin-top:30px; }
#contenido_central ul.institucional li{margin-bottom:5px; }
#contenido_central ul.institucional li img{padding-right:5px;}
#contenido_central ul.institucional li strong{font-weight:bold; font-size:14px; }

#contenido_central form{text-align:left; margin-top:30px;}
	#contenido_central form#contacto div{margin-bottom:10px;}
		#contenido_central form#contacto div label.error{color:#C00; font-size:10px; display:block;}